---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "Luxury contructora DEMO",
    description:
      "Landing page de demo para Luxury contructora costo $1,500,000,00 COP",
    link: "https://luxury-snowy.vercel.app/",
    github: "",
    image: "/projects/lucury.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
 {
    title: "Page de dragon ball z con JavaScript y tailwind",
    description:
      "pagina web de dragon ball z con tailwind css y javascript inspirado en una api de dragon ball z creada por el equipo de la api de dragon ball z",
    link: "https://dragonballz-red.vercel.app/",
    image: "/projects/dragon.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Consultorio empresarial con JavaScript y TypeScript",
    description:
      "Plataforma gratuita donde personas busca asesora de forma virtual y gratuita. Creada desde cero con React, Tailwind CSS y las ultimas tecnologias de diseño.",
    link: "https://ce-curn.vercel.app/",
    image: "/projects/curn.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
 {
    title: "Modelo de predicción framingham",
    description:
      "Plataforma gratuita para la CURN donde personas calculan  de forma virtual y gratuita. Su probadilidad de riesgo cardiavascular apartir de 10 años.",
    link: "https://reanimated-pilot.000webhostapp.com/proyecto_final/what_is.html",
    image: "/projects/framingham.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Consultoria online",
    description:
      "Plataforma gratuita para la CURN donde personas busca asesora de forma virtual y gratuita. en nuestra plataforma de consultores y asesores",
    link: "https://half-length-occurre.000webhostapp.com/curn/index.php",
    image: "/projects/consultoria.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
